#task-control {
    background: #f1f6fd;
    width: 100vw;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    position: fixed;
    top: 50px;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    .task-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        .header {
            display: flex;
            justify-content: space-between;
            padding: 0 1.25rem;
            padding-right: 2rem;
            max-height: 2.5rem;
            height: 8.3333%;
            width: auto;

            h5 {
                font-weight: 500;
                padding: 0 1rem;
                font-size: 1.75rem;

                .task-status {
                    font-size: 1rem;
                    border-radius: 1rem;
                    padding: 0.1rem 0.4rem;

                    &.status-preparing {
                        background-color: $pending;
                        color: #5d5d5d;
                    }

                    &.status-in-progress {
                        background-color: $inProgress;
                        color: white;
                    }

                    &.status-done {
                        background-color: $done;
                        color: white;
                    }

                    &.status-expired {
                        background-color: $expired;
                        color: white;
                    }
                }
            }

            .btn-comments {
                color: #5d5d5d;

                .q-btn__content .q-icon {
                    font-size: 1.85rem;
                    padding-right: 0.5rem;
                }
                span {
                    font-size: 1.35rem;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: stretch;
            padding: 0 2rem;
            padding-top: 1rem;
            height: 91.6667%;
            width: auto;

            .task-date {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }
            .task-info {
                margin-bottom: 2.5rem;
                .q-btn {
                    color: #7c7c7c;
                    font-size: 1.25rem;
                    position: absolute;
                    top: 5%;
                    right: 1%;
                    z-index: 1;
                }
                .q-card__section {
                    display: flex;
                    padding: 2rem 4rem 2rem 2rem;
                    color: #5d5d5d;

                    .task-remark {
                        font-size: 1.25rem;
                        margin-right: 1rem;
                    }
                }
            }

            .btn-add-files {
                margin-bottom: 2rem;
                padding: 1.25rem;
                display: flex;
                justify-content: center;
                height: 50px;

                .q-icon {
                    font-size: 3rem;
                    color: #7c7c7c;
                }
            }

            .uploaded-files {
                height: 100%;
                overflow-y: scroll;

                .uploaded-file {
                    margin-bottom: 1.5rem;

                    .q-card__section {
                        padding: 1.5rem;

                        .q-icon {
                            font-size: 2rem;
                            color: #5d5d5d;
                        }
                        p {
                            font-size: 1.25rem;
                            margin: 0;
                            padding-left: 1.5rem;
                            color: #5d5d5d;
                        }
                        .btn-delete-files {
                            .q-icon {
                                color: #7c7c7c;
                            }
                        }

                    }
                }
            }
        }
    }

    .comments-board-wrapper {
        display: none;
    }

    .pad-comments-board-wrapper {
        padding: 2rem 1.5rem;
        border-radius: 0.5rem 0 0 0.5rem;
        background: #E1E5EE;
        display: flex;
        flex-direction: column;

        h5 {
            font-size: 1.85rem;
            font-weight: 500;
            margin-bottom: 1rem;
            color: $main;
        }

        .pad-comments-container {
            height: 100%;
            margin-bottom: 1.5rem;
            overflow-y: scroll;

            .q-card__section {
                width: 100%;

                .comments-container {
                    width: 100%;
                    margin-bottom: 0.75rem;

                    .comments-account {
                        p {
                            margin: 0;
                            color: #5d5d5d;
                            font-size: 1rem;
                        }
                    }

                    .comments-text {
                        max-width: 100%;
                        overflow-wrap: break-word;

                        p {
                            display: inline-block;
                            max-width: 100%;
                            white-space: normal;
                            background-color: #F1F6FD;
                            border-radius: 1.5rem;
                            margin: 0;
                            padding: 0.35rem 0.75rem;
                            font-size: 1.25rem;
                        }

                        &.my-comment {
                            max-width: 80%;
                        }
                    }

                    &.my-comment {
                        align-items: flex-end;
                    }
                }
            }
        }
    }

    .comments-board-header {
        margin-bottom: 0.8rem;
        color: $main;

        h5 {
            font-size: 1.85rem;
            padding-left: 0.45rem;
            font-weight: 500;
        }

        .q-btn {
            font-size: 1.75rem;

        }
    }

    .comments-board-content {
        flex-grow: 1;
        overflow-y: scroll;

        .announcement-card {
            margin-bottom: 1.5rem;
            padding: 0.5rem 1rem;

            .q-card__section {
                display: flex;
                flex-direction: column;

                p {
                    margin: 0;
                }

                .announcement-title {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .announcement-content {
                    flex-grow: 1;
                    font-size: 1.25rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                }
            }


        }
    }
}



//   /* 筆電尺寸 */
@media (min-width: 1440px){
    #task-control {
        width: calc(100vw - 250px);
        padding-top: 0;
        padding-right: 3rem;

        .task-wrapper {
            flex: 2.5;
            padding-right: 2rem;

            .header {
                padding-right: 1.25rem;

                h5 {
                    font-size: 1.5rem;

                    .task-status {
                        font-size: 0.8rem;
                    }
                }

                .btn-comments {
                    display: none;
                }
            }

            .content {
                padding-right: 1rem;

                .task-date {
                    font-size: 0.8rem;
                    padding-left: 0.25rem;
                }

                .task-info {
                    margin-bottom: 2rem;

                    .q-btn {
                        font-size: 0.9rem;
                        top: 5%;
                        right: 1%;
                        transition: all 0.5s;

                        &:hover {
                            color: $main;
                        }
                    }

                    .q-card__section {
                        padding: 1.25rem 3rem 1.25rem 1.5rem;

                        .task-remark {
                            font-size: 0.9rem;
                        }
                    }
                }

                .btn-add-files {
                    padding: 0;

                    .q-icon {
                        font-size: 2rem;
                    }
                }

                .uploaded-files {
                    .uploaded-file {
                        margin-bottom: 1rem;

                        .q-card__section {
                            padding: 0.75rem;

                            .q-icon {
                                font-size: 1.75rem;
                            }

                            p {
                                font-size: 1rem;
                                padding-left: 1rem;
                            }

                            .btn-delete-files {
                                .q-icon {
                                    font-size: 1.5rem;
                                }

                                &:hover {
                                    .q-icon {
                                        color: $main;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .comments-board-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            border-radius: 0.25rem;
            padding: 1rem;
            background-color: #fff;
            width: 100%;

            .comments-board-header {
                margin-bottom: 0.5rem;

                h5 {
                    font-size: 1.5rem;
                    padding: 0;
                }
            }

            .comments-board-content {
                height: 100%;
                width: 100%;
                margin: auto;
                margin-bottom: 1rem;
                overflow-y: scroll;
                background-color: #E1E5EE;

                .q-card__section {
                    width: 100%;

                    .comments-container {
                        width: 100%;
                        margin-bottom: 0.75rem;

                        .comments-account {
                            p {
                                margin: 0;
                                color: #5d5d5d;
                                font-size: 0.75rem;
                            }
                        }

                        .comments-text {
                            max-width: 100%;
                            overflow-wrap: break-word;
                            p {
                                display: inline-block;
                                max-width: 100%;
                                white-space: normal;
                                background-color: $main;
                                color: #fff;
                                border-radius: 1rem;
                                margin: 0;
                                padding: 0.25rem 0.75rem;
                                font-size: 0.9rem;
                            }

                            &.my-comment {
                                max-width: 80%;
                            }
                        }

                        &.my-comment {
                            align-items: flex-end;
                        }
                    }
                }
            }
        }

        .q-drawer-container {
            display: none;
        }
    }
}


//   /* 桌機尺寸 */
@media (min-width: 1920px){
    #task-control {
        padding: 1rem 4rem;

        .task-wrapper {
            padding-right: 4rem;
        }

        .btn-add-files {
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            height: 50px;
        }

        .uploaded-files {
            height: 100%;
            overflow-y: scroll;
        }

        .uploaded-file {
            p {
                margin: 0;
                color: #5d5d5d;
            }

            .q-icon {
                color: #5d5d5d;
            }

            .btn-delete-files .q-icon {
                color: #7c7c7c;

                &:hover {
                    color: $main;
                }
            }
        }

        .comments-board-wrapper {
            max-width: 430px;
        }

        .comments-board-content {
            margin-bottom: 1.5rem;
        }
    }
}
